@media screen and (max-width: 767.98px) {
  .travel-list {
    grid-template-columns: repeat(1, 1fr);
  }
  i.menu-toggle {
    display: block;
  }
  #header {
    position: static;
    padding: 20px 10px;
    background-color: #31124b;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-300deg, #e3a957, #927dba);
    width: 80%;
    z-index: 10;
    flex-direction: column;
    gap: 20px;
    padding: 60px 20px;
    transform: translate(100%, 0);
    transition: all 0.2s linear;
    align-items: stretch;
  }
  .menu li a {
    font-size: 20px;
  }
  .menu.is-show {
    transform: none;
  }
  .header-right {
    display: none;
  }
  i.menu-close {
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 30px;
  }
  .footer-top {
    flex-direction: column;
    padding-left: 10px;
    gap: 20px 0;
  }
  .list-image {
    padding: 0 10px;
  }
  .heading {
    font-size: 24px;
  }
  #main-news,
  #main-contact {
    margin-top: 50px;
  }

  .new-list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
  }
  .form-contact {
    margin: 30px 15px;
  }
  .form-layout {
    flex-direction: column;
    gap: 0;
  }
  #banner-contact {
    height: 400px;
    background-repeat: no-repeat;
  }
  .banner-content .title {
    font-size: 50px;
  }
}
